<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CALayerTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>43F76E1C1D2AF23600AB88DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>43F76E301D2AF23600AB88DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>43F76E3B1D2AF23600AB88DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
